:80 {
    root * /srv
    encode zstd gzip

    @api path /api/*
    reverse_proxy @api backend:8000

    try_files {path} /index.html
    file_server
    header {
        X-Content-Type-Options nosniff
        Referrer-Policy strict-origin-when-cross-origin
    }
}
